@media only screen and (max-width:699px)and (min-width: 0px){
    body{
        overflow-x: hidden;
    }
    .container{
        width:100%;
    }
    .home{
        background: rgba(216, 22, 70, 0.322) ;
        background-image: url('../assets/images/backgroundphone.jpg');
        background-position: right;
        background-blend-mode: 0.5;
        height: 500px;
        display: flex;
        align-items: center;
        scroll-behavior: smooth;
        margin:0;
        width: 100%;
        background-size: 150%;
        background-repeat: no-repeat;
        flex-direction: column;
    }
    .header{
        width: 100%;
        margin: 0;
        display: flex;
        padding: 0;

    }
    .header .profile-info{
        display: none;
        
    }
    .navbar{
        display: none;
    }
    .menu-icon{
        display: block;
        margin-top: 5px;
        padding: 30px;
        float: right;
    }
    .menu-icon div{
        background-color:#ff0044;
        width: 30px;
        height: 5px;
        border-radius: 5px;
        margin: 5px;
    }
    .menu-icon:hover{
        cursor: pointer;
    }
    .profile{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
        top:0;
        width:100%;
    }
    .profile-image-phone{
        display: block;
        justify-content: center;
        width: 200px;
        height: 200px;
        top:0;
        left:0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        position: relative;
        border-radius: 50%;
        box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.40);
        border: 10px solid #fff;
        transition: 3s;
    }
    .profile-text{
        width: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top:0;
        left:0;
        position: relative;
        font-size: 24px;
        font-weight: 600;
    }
    .profile-caption{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .cv-button{
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        border:2px solid #210026;
        background-color: none;
        color: #210026;
        border-radius: 50px;
        font-size: 16px;
        letter-spacing: 1.5px;
        position: relative;
        
    }
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .my-title{
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        padding-top: 50px;
        width: 200px;
        height: auto;
        background-color:white;
        flex-direction: row;
        color:#d90040;
    }
    .my-title-span1{
        font-size: 25px;
        line-height: 20px;
    }
    .my-title-span2{
        font-size: 35px;
        line-height: 20px;
        padding-left: 10px;
    }
    .myself-para{
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
        width: 100%;

    }
    .para-row{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .para-point{
        margin: 15px;
        padding: 0;
        flex: 6;
        padding-left: 10px;
        width:calc(50%-24px);
    }
    .point{
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0;
    }
    .para{
        font-size: 16px;
        line-height: 16px;
        margin-top: 10px;
    }
    .skill{

    }
    .skill-progress{
        margin-left: 30px;
        font-size: 16px;
    }
    .progress-bar{
        width: 300px;
        border-radius: 8px;
    }
    .skill-progress label{
        width: 300px;
        font-size: 14px;
    }
    .title-row{
        width: 300px;
    }
    .paper-effect{
        height: 50px;
    }
    .portfolio-title{
        font-size: 35px;
        letter-spacing: 0.2em;
    }
    .gallery-row{
        /* transform: rotateX(60deg) 
                rotateY(0deg) 
                rotate(-45deg) 
                scale(1.125);
        transform-style: preserve-3d; */
        transform: none;
        
    }
    .gallery-module{
        /* transform: translateZ(1.5em) scale(1.05); */
        margin:1em;
        width: calc(80% - 2em);
        max-width: 450px;
        position: relative;
        transform: none;
    }
    
    .contact{
        flex-direction: column;
        margin-top: 100px;
    }
    .contact-me{
        display: block;
        width: 100%;
    }
    .contact-title{
        font-size: 30px;
        width: 100%;
        margin-bottom: 20px;
    }
    input, textarea{
        font-size: 12px;
        width: 100%;
        margin-bottom: 10px;
    }
    .contact-button-div{
        width:100px;
        margin-left: auto;
        margin-left: auto;
    } 
    .contact-button{
        width: 100px;
        background-color:#210026;
        color: #fff;
        font-size: 18px;
        border: none;
        padding:8px;
        border-radius: 5px;
        
    }
    .map{
        flex-wrap: wrap;
        padding:0;
        margin: 20px 0;
    }
    .map iframe{
        width:clac(100%-5px);
        height: 250px;
        max-width: 300px;
        flex-wrap: wrap;
    }
    .footer{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer-section{
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
}

@media only screen and (max-width:320px) {
    .progress-bar{
        width: 250px;
        border-radius: 8px;
    }
    .skill-progress label{
        width: 250px;
        font-size: 14px;
    }
    .title-row{
        width: 250px;
    }
}

@media only screen and (min-width:390px) and (max-width:320px) {
    
}